- if current_user and current_user.admin?
  = link_to 'Dodaj nową aktualność', new_news_path
  %br
.news
  #pagination_links
    = will_paginate @news, :first_label => '<< Start', :last_label => 'Na koniec >>', :summary_label => "%d - %d z %d"
  %table
    - @news.each do |news_item|
      %tr{:class => [cycle('list_line_odd','list_line_even')]}
        %td.news_description
          %dl
            %dt= news_item.title
            %dd= strip_tags(news_item.content)
          .news_actions
            = link_to 'Pokaż',news_item
            - if current_user and current_user.admin?
              %br= link_to 'Edytuj', edit_news_path(news_item)
              %br= link_to 'Usuń', news_item, :confirm => 'Jesteś pewny czy usunąć?', :method => :delete
              -#%br= link_to 'Skomentuj',new_comment_news_path
  #pagination_links
    = will_paginate @news, :first_label => '<< Start', :last_label => 'Na koniec >>', :summary_label => "%d - %d z %d"
