%head
  %title Capoeira
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
  %script{:type => 'text/javascript', :src => 'javascripts/jquery.lightbox-0.5.js'}
%body
  #container
    #banner
      - unless current_user
        #login_button
          = link_to image_tag('login_button.png'), user_omniauth_authorize_path(:facebook), :title => 'Zaloguj się przez facebooka'
      - else
        #user_info
          Zalogowany jako
          %br/
          = current_user.name
          %p= link_to 'Wyloguj', destroy_user_session_path
      .menu_button
        = link_to image_tag('start_button.png'),   root_path, :title => 'Strona główna'
        = link_to image_tag('news_button.png'),    news_index_path, :title => 'Aktualności'
        = link_to image_tag('gallery_button.png'), root_path, :title => 'Galeria zdjęć'
        = link_to image_tag('songs_button.png'),   root_path, :title => 'Teksty piosenek'
        = link_to image_tag('links_button.png'),   links_path, :title => 'Linki'
        = link_to image_tag('contact_button.png'), contact_path, :title => 'Kontakt, dojazd'
    #nav_bar
    #content
      = yield
    #footer
      %p By Piotr Olchawa
