<!DOCTYPE html>
<html>
<head>
  <title>Capoeira</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
    <div id="banner"><h1>Companhia Pernas Pro Ar</h1></div>

    <div id="wrapper">
        <div id="content">
            <%= yield %>
        </div>
    </div>

    <div id="navigation">
        <%= link_to "Start", "/"%>
        <%= link_to "Aktualności","/news" %>
        <% if user_signed_in? %>
            <%= link_to "Teksty Piosenek", "/" %>
            <%= link_to "Zdjęcia", "/" %>
        <% end %>
        <%= link_to "Linki", links_path %>
        <%= link_to "Kontakt", "/" %>
            <% unless user_signed_in? %>
                <%= link_to("Zaloguj się przez facebooka", user_omniauth_authorize_path(:facebook)) %>
                <% #link_to image_tag("login-button.png"), user_omniauth_authorize_path(:facebook) %>
            <% else %>
                <%= "Zalogowany jako: #{current_user.name}" %>
                <br/>
                <%= link_to "wyloguj", destroy_user_session_path %>
            <% end %>
        <div id="extra">
        </div>
    </div>
    <div id="footer"><p>By Piotr Olchawa</p></div>
</div>

</body>
</html>
